<!doctype html>
<html lang="en" ng-app="pomoapp">
<head>
<link rel="stylesheet" type="text/css" href="pomodoro.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/pomodoro.css">
<script src="src/pomodoroApp.js"></script>

</head>
<body>
<div class="container-fluid" ng-controller= "AppController">
    <div class="row"></strong>
        <strong class="col-md-offset-3">Welcome to Pomodoro App... know more about <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">pomodoro method. </a> </strong>
        <hr>
    </div>
  <div class="row">
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <h3 class="break">break</h3>
          <!-- <h2><a id='breakMinus' href="#">-</a><span id='breakMinutes'></span><a id='breakPlus' href="#">+</a></h2> -->
          <div>
          <button>-</button><span></span><button>+</button>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <h3 class="session">session</h3>
          <h2><a id='sessionMinus' href="#">-</a><span id='sessionMinutes'></span><a id='sessionPlus' href="#">+</a></h2>
        </div>
    </div>
    <div class="row">
        <h1 class="timer col-md-offset-4" id='timer'>{{hours + ":" + minutes}}</h1>
    </div>
    <div class="row">
        <button class="col-md-2 col-md-offset-3" ng-click="play">play</button>
        <button class="col-md-2 col-md-offset-3" ng-click="pause">pause</button>
    </div>
</div>
</body>
</html>
